@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Figtree', 'sans-serif';
}

input {
    border: 0;
    border: 1px solid #E6E6E6;
    background-color: #FCFCFC;
    border-radius: 0.375rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;

    outline: 0;
}

input::placeholder {
    padding: 0.5rem;
}

.menu {
    background: rgb(103,51,178);
    background: linear-gradient(180deg, rgba(176,176,176,0.48923319327731096) 0%, rgba(248,248,248,1)  60%);
}

table, input {
        --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}